* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 1200px/2);
    padding-right: calc(50% - 1200px/2);
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration-line: none;
}

.top {
    height: 1024px;
    background-image: url(img/header_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content {

    &__title {
        width: 788px;
        padding-top: 218px;
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__text {
        width: 481px;
        padding-top: 32px;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
    }

    &__text-link {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }

    &__button {
        margin-top: 44px;
        border-radius: 30px;
        background: #9C0332;
        width: 234.063px;
        height: 48.603px;
        flex-shrink: 0;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            border-radius: 30px;
            background: #EB443F;
        }
    }
}

.games {
    height: 556px;
    background-color: #000915;

    &__nav {
        padding-top: 128px;
        display: flex;
        gap: 31px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        transition: all;

        &__link {
            width: 379px;
            height: 300px;
            border-radius: 16px;
            transition: all, 0.2s;
            box-sizing: border-box;

            &:hover {
                border-radius: 16px;
                border: 3px solid #44D2FF;

            }
        }

        &__link-1 {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/game_one.png), lightgray 50% / cover no-repeat;
        }

        &__link-2 {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/game_two.png), lightgray 50% / cover no-repeat;
        }

        &__link-3 {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/game_three.png), lightgray 50% / cover no-repeat;
        }

        &__link_number {
            display: flex;
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            margin-top: 236px;
            padding-left: 32px;
        }
    }
}

.game {
    height: 800px;
    background: #000915;

    &__season {
        display: flex;
        gap: 132px;


        &__left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;

            &_header {
                padding-top: 282px;
                color: #FFF;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            &_text {
                color: #FFF;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 32px;
            }

            &_play {
                border-radius: 30px;
                background: #9C0332;
                width: 234.063px;
                height: 48.603px;
                flex-shrink: 0;
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    border-radius: 30px;
                    background: #EB443F;
                }
            }
        }

        &__right {
            padding-top: 233px;
        }
    }

}



@import 'mobil'