* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration-line: none;
}

.top {
  height: 1024px;
  background-image: url(img/header_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content__title {
  width: 788px;
  padding-top: 218px;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__text {
  width: 481px;
  padding-top: 32px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.content__text-link {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.content__button {
  margin-top: 44px;
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__button:hover {
  border-radius: 30px;
  background: #EB443F;
}

.games {
  height: 556px;
  background-color: #000915;
}
.games__nav {
  padding-top: 128px;
  display: flex;
  gap: 31px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  transition: all;
}
.games__nav__link {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  transition: all, 0.2s;
  box-sizing: border-box;
}
.games__nav__link:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
}
.games__nav__link-1 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game_one.png), lightgray 50%/cover no-repeat;
}
.games__nav__link-2 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game_two.png), lightgray 50%/cover no-repeat;
}
.games__nav__link-3 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game_three.png), lightgray 50%/cover no-repeat;
}
.games__nav__link_number {
  display: flex;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-top: 236px;
  padding-left: 32px;
}

.game {
  height: 800px;
  background: #000915;
}
.game__season {
  display: flex;
  gap: 132px;
}
.game__season__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.game__season__left_header {
  padding-top: 282px;
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game__season__left_text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.game__season__left_play {
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__season__left_play:hover {
  border-radius: 30px;
  background: #EB443F;
}
.game__season__right {
  padding-top: 233px;
}
.game__remember {
  display: flex;
  gap: 132px;
}
.game__remember__left {
  padding-top: 239px;
}
.game__remember__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.game__remember__right_header {
  padding-top: 282px;
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game__remember__right_text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.game__remember__right_play {
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__remember__right_play:hover {
  border-radius: 30px;
  background: #EB443F;
}

@media (min-width: 375px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 172.5px);
    padding-right: calc(50% - 172.5px);
  }
  .top {
    height: 735px;
    background-position: -210px;
  }
  .content {
    height: 1221px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content__title {
    text-align: center;
    font-size: 32px;
    width: 343px;
    padding-top: 238px;
  }
  .content__text {
    font-size: 14px;
    text-align: center;
    width: 342px;
    line-height: 22px;
  }
  .content__text-link {
    font-size: 14px;
  }
  .content__button {
    margin-top: 32px;
  }
  .games {
    height: 1221px;
  }
  .games__nav__link {
    width: 343px;
  }
  .game__season {
    flex-direction: column;
    gap: 64px;
  }
  .game__season__left {
    text-align: center;
    align-items: center;
  }
  .game__season__left_header {
    padding-top: 53px;
    text-align: center;
    font-size: 32px;
    line-height: normal;
  }
  .game__season__left_text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .game__season__right {
    padding-top: 63px;
  }
  .game__season__right-picture {
    width: 344px;
    height: 236px;
  }
  .game__remember {
    flex-direction: column-reverse;
    gap: 64px;
  }
  .game__remember__right {
    text-align: center;
    align-items: center;
  }
  .game__remember__right_header {
    padding-top: 51px;
    text-align: center;
    font-size: 32px;
    line-height: normal;
  }
  .game__remember__right_text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .game__remember__left {
    padding-top: 63px;
  }
  .game__remember__left-picture {
    width: 344px;
    height: 231px;
  }
}/*# sourceMappingURL=style.css.map */